body {
    background-color: gainsboro;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    
  }
  #submit{
    cursor: pointer;
    background: #9d3a9d;
    border-left: 0;
    border-radius: 0;
    font-size: 14px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: white;
    width: 70px;
    padding: 12.5px;
    margin-left: -5px;
    border: gray;
   
  }
  h1 {
    color: #333;
    font-size: 32px;
    margin: 0;
    text-align: center;
    text-align: center;
    color: rgb(67, 65, 65);
    font-size: 45px;
    margin-top: 50px;
    font-family: 'Roboto Slab', serif;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;
  }
  
  input[type="text"] {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    padding: 13px;
    width: 300px;
  }
  .btn {
    cursor: pointer;
  }
  button[type="submit"] {
    background-color: #54165c;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 20px;
    transition: background-color 0.2s;
  }
  
  button[type="submit"]:hover {
    background-color: #54165c;
  }
  
  #results {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin: 40px 0;
  }
  
  #results > div {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  #results img {
    border-radius: 8px;
    margin-bottom: 20px;
    object-fit: cover;
    height: 200px;
    width: 100%;
  }
  
  #results h3 {
    color: #333;
    font-size: 24px;
    margin: 0;
  }
  
  #results ul {
    margin: 0;
    padding: 0;
  }
  
  #results li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  #results a {
    background-color: #54165c;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s;
  

  }
  
  #results a:hover {
    background-color: #54165c;
  }
